/* line 3 */
h3 {
  margin: 0 0 0.5em 0;
}

/* line 6 */
.ui-tabs {
  font-family: Helvetica, Arial, sans-serif;
  outline: none;
  border: 1px solid #dddddd;
  color: #333333;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  display: inline-block;
  background: white;
  position: relative;
  padding: 0.2em;
  border: 0px none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}
/* line 98, ././src/stylesheets/jquery-ui.sass */
.ui-tabs a, .ui-tabs :active {
  outline: none;
}
/* line 104, ././src/stylesheets/jquery-ui.sass */
.ui-tabs a {
  color: #333333;
}
/* line 5, /Users/wycats/.rvm/gems/ruby-1.8.7-p249/gems/compass-0.10.0.rc3/frameworks/compass/stylesheets/compass/utilities/general/./_hacks.scss */
.ui-tabs {
  display: block;
}
/* line 15, ././src/stylesheets/jquery-ui.sass */
.ui-tabs ul {
  border: 1px solid #8ab0c6;
  background: #83b0ca url(images/large_blue_gradient.png) 50% 50% repeat-x;
  color: white;
  font-weight: bold;
  display: inline-block;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-width: 0 0 1px 0;
  margin: 0;
  padding: 0;
  background: transparent;
}
/* line 34, ././src/stylesheets/jquery-ui.sass */
.ui-tabs ul a {
  color: white;
}
/* line 17, /Users/wycats/.rvm/gems/ruby-1.8.7-p249/gems/compass-0.10.0.rc3/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.ui-tabs ul:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 5, /Users/wycats/.rvm/gems/ruby-1.8.7-p249/gems/compass-0.10.0.rc3/frameworks/compass/stylesheets/compass/utilities/general/./_hacks.scss */
.ui-tabs ul {
  display: block;
}
/* line 72, ././src/stylesheets/jquery-ui.sass */
.ui-tabs ul li {
  border: 1px solid #cccccc;
  background: #f6f6f6 url(images/ui-bg_glass_100_f6f6f6_1x400.png) 50% 50% repeat-x;
  color: #5f83b9;
  border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  list-style: none;
  float: left;
  position: relative;
  top: 1px;
  margin: 0 0.2em 1px 0;
  border-color: #a8a8a8;
  border-bottom: 0 !important;
  padding: 0;
  white-space: nowrap;
  background: #cccccc url(/images/button_bg.png) 0px 0px repeat-x;
  border-color: #a8a8a8;
}
/* line 111, ././src/stylesheets/jquery-ui.sass */
.ui-tabs ul li a, .ui-tabs ul li a:link, .ui-tabs ul li a:visited {
  color: #1c94c4;
  text-decoration: none;
}
/* line 86, ././src/stylesheets/jquery-ui.sass */
.ui-tabs ul li.ui-state-active {
  background: white;
}
/* line 88, ././src/stylesheets/jquery-ui.sass */
.ui-tabs ul li a {
  float: left;
  padding: 0.5em 1em;
  font-size: 12px;
  color: #4f4f4f !important;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}
/* line 18, ././src/stylesheets/jquery-ui.sass */
.ui-tabs ul li.ui-tabs-selected {
  border: 1px solid #cccccc;
  background: #f6f6f6 url(images/ui-bg_glass_100_f6f6f6_1x400.png) 50% 50% repeat-x;
  color: #5f83b9;
  background: white url(images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;
  font-weight: bold;
  color: #eb8f00;
  cursor: pointer;
  margin-bottom: 0;
  padding-bottom: 1px;
  border-color: #a8a8a8;
  border-bottom: 0;
}
/* line 111, ././src/stylesheets/jquery-ui.sass */
.ui-tabs ul li.ui-tabs-selected a, .ui-tabs ul li.ui-tabs-selected a:link, .ui-tabs ul li.ui-tabs-selected a:visited {
  color: #1c94c4;
  text-decoration: none;
}
/* line 119, ././src/stylesheets/jquery-ui.sass */
.ui-tabs ul li.ui-tabs-selected a, .ui-tabs ul li.ui-tabs-selected a:link, .ui-tabs ul li.ui-tabs-selected a:visited {
  color: #eb8f00;
  text-decoration: none;
}
/* line 26, ././src/stylesheets/jquery-ui.sass */
.ui-tabs ul li.ui-state-disabled {
  opacity: 0.35;
  filter: Alpha(Opacity=35);
  background-image: none;
}
/* line 127, ././src/stylesheets/jquery-ui.sass */
.ui-tabs ul li.ui-state-disabled a {
  cursor: default;
}

/* line 9 */
#tabs1, #tabs2, #tabs3 {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border: 1px solid #dddddd;
  color: #333333;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  display: block;
  border: 0;
  padding: 1em 1.4em;
  background: none;
  font-size: 12px;
  border-color: #a8a8a8;
  border-width: 0 1px 1px 1px;
  border-style: solid;
}
/* line 104, ././src/stylesheets/jquery-ui.sass */
#tabs1 a, #tabs2 a, #tabs3 a {
  color: #333333;
}
/* line 62, ././src/stylesheets/jquery-ui.sass */
#tabs1.ui-tabs-hide, #tabs2.ui-tabs-hide, #tabs3.ui-tabs-hide {
  display: none;
}
