%h3 Going GOOG (Paul Irish)

%p 
  Big news! (for me, at least) I'm taking a position on the Chrome team doing Developer 
  Relations. I'll be evangelizing HTML5, Chrome, Chrome OS, and everything under the Open 
  Web umbrella. It'll be a bunch of writing, speaking, tutorials and guides, and
  engagement with the developer community. (Hey guys! :)

%p
  As I'm very passionate about all this, I'm quite excited about this opportunity. 
  Google Chrome has become the browser to beat very quickly. It's a solid platform for
  browsing and developing as well. I can't wait to join the team and start kicking ass,
  making Chrome ideal for developers and pushing the open web forward.

%p
  As part of this, I'm also moving to San Francisco. Farewell, my dear Boston. *sniff* :(

%p
  I'm leaving an incredible team of UX architects, interactive designers, software 
  engineers, and front-end developers at Molecular/Isobar. It's been 3.5 years and I
  would've easily stayed longer. If you're in Boston, Toronto or SF and want to develop 
  incredible sites and apps for high-profile clients, I couldn't recommend working there 
  enough. <3z

%p
  This is all happening over the next 60 days, along with a busy schedule of JSConf, 
  Bay Area jQuery Conference, TXJS, and a few weddings.

%p
  I plan to continue to be active in the jQuery community (thx to my compadre Karl 
  Swedberg for the referral!), and continue developing Modernizr and CSS3Please. 
  I also got a few more projects on the way. Exciting times. :)
