%h3 Book: Secrets of the JavaScript Ninja (John Resig is Awesome)

= img "ninja2.jpg", :height => "200"

%p
  The untold secrets of the elite JavaScript programmers distilled for intermediate 
  JavaScript programmers, bringing them completely up to speed with the challenges of 
  modern JavaScript development. Explores specific techniques, strategies, and 
  solutions to developing robust, cross-browser, JavaScript code.

%h3 Overview

%p
  This book is intended to take an intermediate JavaScript developer and give him 
  the knowledge he needs to create a cross-browser JavaScript library, from the 
  ground, up. 
  
%p
  Due to the challenging issues that are continually encountered when developing
  cross-browser JavaScript applications JavaScript libraries have become a necessity 
  of modern JavaScript development. All JavaScript developers have a collection of 
  reusable code - either written by themselves, someone at the company that they 
  work at, or by a third party. Thus, it becomes increasingly important that a 
  JavaScript developer understand how to, either, construct a library from scratch 
  or understand how their library of choice works.

%p
  The knowledge necessary for JavaScript library development is taught in three 
  phases: design, construction, and maintenance. A base of strong, advanced, 
  JavaScript knowledge is taught to the reader, giving him the ability to make 
  decisions about the overall design of the library and how to tackle its eventual 
  construction. The construction of the library examines the numerous tasks that 
  all JavaScript libraries have to tackle and provides practical solutions and 
  development strategies for their creation. Finally, maintenance techniques are 
  explored for keeping the library running well into the future. All of these 
  fundamental strategies, combined, provide the reader with all the knowledge 
  necessary to build, or understand, any modern JavaScript library.